apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Release.Name }}-fing-agent"
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      hostNetwork: true
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
        ports:
        - containerPort: 44444
        volumeMounts:
        - name: fing-data-volume
          mountPath: /app/fingdata
        resources:
          limits:
            memory: "{{ .Values.resources.limits.memory }}"
            cpu: "{{ .Values.resources.limits.cpu }}"
          requests:
            memory: "{{ .Values.resources.requests.memory }}"
            cpu: "{{ .Values.resources.requests.cpu }}"
      restartPolicy: Always
      volumes:
      - name: fing-data-volume
        persistentVolumeClaim:
          claimName: fing-data-pvc