apiVersion: apps/v1
kind: Deployment
metadata:
  name: fing-agent
  namespace: home-production
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fing-agent
  template:
    metadata:
      labels:
        app: fing-agent
    spec:
      hostNetwork: true
      containers:
        - name: fing-agent
          image: fing/fing-agent:1.1.1
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: "256Mi"
              cpu: "500m"
            requests:
              memory: "128Mi"
              cpu: "250m"
          volumeMounts:
            - mountPath: /app/fingdata
              name: fing-data
      volumes:
        - name: fing-data
          persistentVolumeClaim:
            claimName: fing-data-pvc