apiVersion: v1
kind: PersistentVolume
metadata:
  name: fing-data-pv
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  hostPath:
    path: /home/mmorillo/data/fing-data