---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fing-data-pvc
  namespace: home-production
spec:
  storageClassName: local-path
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  volumeName: fing-data-pv
