apiVersion: tailscale.com/v1alpha1
kind: Connector
metadata:
  name: orangepi-connector
  namespace: network-services
spec:
  hostname: orangepi
  subnetRouter:
    advertiseRoutes:
      - 192.168.1.0/24
    exitNode: true
  tags:
    - tag:k8s
